body {
  font-family: 'Source Code Pro', sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-section {
  display: flex;
}

.hero-section .left {
  background-color: rgb(106, 176, 111);
  width: 50%;
}

.hero-section .right {
  background-color: rgb(208, 193, 193);
  width: 50%;
}

.hero-section button {
  border-radius: 30px;
  padding: 10px 25px;
}
