:root {
  /* fonts */
  --white-text: #f9fdff;
  --black-text: #283f53;

  /* backgrounds */
  --dark-background: #001d37;
  --light-background: #f1f8ff;
  --light-background-darkened: #d2dfea;

  /* outline */
  --dark-outline: #001d37;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* HELPER CLASSES */

.center {
  margin: 0 auto !important;
}

.max-width {
  max-width: 1440px;
}

.padding-lg {
  padding-top: 8.688rem;
  padding-bottom: 8.688rem;
  padding-left: 11.75rem;
  padding-right: 11.75rem;
}

.padding-sm {
  padding-top: 4.688rem;
  padding-bottom: 4.688rem;
}

.top {
  background-color: var(--dark-background);
  color: var(--white-text);
  width: 100%;
}

.middle {
  background-color: var(--light-background);
  color: var(--black-text);
  width: 100%;
}

.bottom {
  background-color: var(--light-background);
  color: var(--black-text);
  width: 100%;
}

.btn {
  padding: 14px 40px !important;
}

/* HTML CLASSES*/

body,
html {
  font-family: 'Source Code Pro', sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

/* MAIN CLASSES*/

/* ----> HERO  <---- */
.hero-section {
  display: flex;
  background-color: var(--dark-background);
  height: 100vh;
}

.hero-section .left {
  width: 70%;
}

.hero-section .left p {
  padding-top: 2.313rem;
  width: 67%;
}

.hero-section .right {
  width: 30%;
}

.hero-section a {
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark-background);
}

.hero-section .btn-container {
  padding-top: 2.437rem;
}

.hero-section .btn-primary {
  background-color: var(--light-background);
  border: 2px solid var(--dark-outline);
}

.hero-section .btn-primary:hover {
  background-color: var(--light-background-darkened);
}

.hero-section .btn-outline {
  color: var(--light-background);
}

.hero-section .btn-outline:hover {
  box-shadow: inset 0 0 0 2px var(--light-background);
}

/* ----> PETS  <---- */
.pets-section {
  height: 100vh;
}

.pets-section h2 {
  font-weight: bold;
  font-size: 85px;
}

/* ----> FOOTER  <---- */
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* 
I think 1366px is best according to statistics.

1366px – 27.81% – Rising
1024px – 14.3% – Falling (includes both landscape and portrait views for 1024 x 768)
1280px – 13.26% – Falling
1920px – 9.92% – Rising
1440px – 5.85% – Stagnant 
*/

/* https://ux.stackexchange.com/questions/124228/what-is-the-best-max-width-content-container-in-a-website */
